<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %> · Campus concesionarias</title>
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <div class="header-right">
        <a href="/sucursales">Sucursales</a>
        <a href="/marcas">Marcas</a>
        <a href="/autos">Autos</a>
      </div>
    </header>